
<%= form_with scope: :article, url: articles_path, local: true do |form| %>
    
    <% if @article.errors.any? %>
        <div id= "Title can't be blank">
            <h2>
                <%= pluralize(@article.errors.count,"Title can't be blank" )%>
    prohibited
                this article from being saved:
            </h2>
            <ul>
                <% @article.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </p>

    <p>
        <%= form.label :content %><br>
        <%= form.text_area :content %>
    </p>

    <p>
     <%= form.submit "Create Article" %>
    </p>
    <% end %>

    <%= link_to 'Back', articles_path %>